{{ define "main" }}
<div class="home-page">
    <h1>{{ .Site.Title }}</h1>
    <h2>Bienvenue sur mon carnet de blog</h2>
    <p>Une expérience de co-construction d'un blog avec l'aide de l'IA.</p>
    <p></p>
    <p>Ce blog "expérimental" est un laboratoire dans lequel je teste. J'y partage des expériences et autres réflexions personnelles.</p> 
    <p>Il m'arrive de solliciter l'intelligence artificielle pour résoudre des problèmes techniques ou impulser le contenu d'un article. Cependant, l'écriture restera humaine, donc la mienne.</p>.

   <p>
Découvrez ma <a href="/philosophie/">philosophie</a> et j'ai esquissé <a href="perspectives">quelques perspectives</a> pour l'évolution de mon blog.
   </p>

    <p>Mon blog est actuellement en reconstruction.</p>
    
    <hr>
    
    <h2>Articles récents</h2>
    <ul>
        {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
</div>
{{ end }}
