{{ define "main" }}
<div class="home-page">
<h1>{{ .Site.Title }}</h1>
<p><em>Un blog personnel dédié l'exploration numérique, à l'écriture et à l'apprentissage, assisté par l'AI.</em></p>

<h2>Bienvenue sur mon carnet de blog</h2>
<p>Une expérience de co-construction d'un blog entre l'intelligence humaine et l'intelligence artificielle. Est-ce que c'est seulement possible ? Souhaitable ? Pertinent ? J'explore ces pistes sans pression ni à-priori.</p>

<h2>Ce blog se veut "expérimental"</h2> 
<p>
C'est un laboratoire. J'y teste des idées, j'y apprends de nouveaux outils et je garde une trace de mes expériences, de mes réussites et de mes questionnements. Je n'ai pas de connaissances particulières en programmation informatique ni en code. Je suis un utilisateur <em>lambda</em> d'un ordinateur. Sans doute un peu plus curieux. J'apprends en faisant. Le résultat n'est sans doute pas parfait, mais il me satisfait et c'est bien ainsi.
</p>

<h2>Un contenu hétéroclyte</h2>
<p>
Ce blog est un peu "fourre-tout" et c'est voulu ! Vous trouverez des sujets divers et variés autour du numérique, de l'écriture, de l'apprentissage au quotidien et de projets personnels qui me motivent. Ma motivation est d'oser et de risquer.
</p>

<h2>Pourqui ce carnet de blog ?</h2>
<p>
Pour en savoir un peu plus sur ce qui m'anime, je vous invite à parcourir ma <a href="/philosophie/">philosophie</a> qui donne l'esprit de ce carnet de blog, ainsi que <a href="perspectives">quelques perspectives</a> sur son évolution.
</p>

<p>
Mon blog est actuellement en reconstruction.
</p>
    
    <hr>
    
    <h2>Articles récents</h2>
    <ul>
        {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
</div>
{{ end }}
